.array-container {
    position: absolute;
    left: 100px;
    /* top: 100px; */
  }
  
  .array-bar {
    width: 2px;
    display: inline-block;
    margin: 0 1px;
  }

  .display-linebreak {
    white-space: pre-line;
  }

  .title {
    white-space: pre-line;
    font-size:30px;
    color: darkorchid
    
  }